{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stomat/css/stylePrice.css' %}">
    <link rel="stylesheet" href="{% static 'stomat/css/styleServise.css' %}">
    <link rel="stylesheet" href="{% static 'stomat/css/styleNav.css' %}">
</head>
<body>
    <header>
    {% include "includes/header.html" %}
    </header>
<main>
    {% block main_content %}
    

    {% endblock main_content %}
</main>

<footer>

</footer>

</body>
</html>